<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Wallpaper Center</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= wallpaper.image %>">
                <div class="caption-full">
                    <h4><a><%= wallpaper.name %></a></h4>
                    <p><%= wallpaper.description %></p>
                    <p>
                        <em>Submitted By <%= wallpaper.author.username %></em>
                    </p>
                    <% if(currentUser && wallpaper.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/wallpapers/<%= wallpaper._id %>/edit">Edit</a>
                        <form class="delete-form" action="/wallpapers/<%= wallpaper._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>                        
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/wallpapers/<%= wallpaper._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% wallpaper.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                                href="<%=wallpaper._id%>/comments/<%= comment._id %>/edit">
                                Edit
                            </a>
                            <form class="delete-form" action="<%=wallpaper._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>